.headersearch{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  box-shadow: 0 2px 5px rgba(136, 136, 136, 0.1);
  border-radius: 1vh;
  border: gray solid 1px;
  padding: 0.3rem;
}
.pesqCidade {
  width: 80%;
  padding: 1.5vh 0.3vw 1.5vh 0.3vw ;
  font-size: 16px;
  background: #ffffff;
  transition: 0.3s ease-in-out;
  outline: none;
  border:none;
}

.pesqCidade::placeholder {
  color: rgb(148, 148, 148);
  font-style: italic;
}
.boxsearch{
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding-top: 1vh;
}
a{
    color: inherit; 
    text-decoration: none; 
}
a:hover{
    cursor:pointer;
}
.pesqPais{
  width: 30%;
  background: #ffffff;
  outline: none;
  border:none;
  text-align: center;
  font-size: 12;
}